* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: cadetblue;
}

main{
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.item{
  width:300px;
  height:200px;
  margin: 10px;
  position: relative;
}

.first{
  padding-top: 50px;
}

p{
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}

.bgtoka{
  width: 300px;
  height:200px;
  background: rgba(255,255,255,0.5);
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  width: 100%;
  height: 100px;
  background-color: darkgoldenrod;
}

/* 各国の設定 */
#Japan{
  background-image: url("../image/Japan.png");
  background-size: contain;
}

#America{
  background-image: url("../image/America.png");
  background-size: contain;
}

#France{
  background-image: url("../image/France.jpg");
  background-size: contain;
}

#Brazil{
  background-image: url("../image/Brazil.png");
  background-size: contain;
}

#Taiwan{
  background-image: url("../image/Taiwan.png");
  background-size: contain;
}

#Korea{
  background-image: url("../image/Korea.jpg");
  background-size: cover;
  background-position: center;
}

#India{
  background-image: url("../image/India.png");
  background-size: contain;
}
#SaudiArabia{
  background-image: url("../image/SaudiArabia.png");
  background-size: contain;
}
#Germany{
  background-image: url("../image/Germany.png");
  background-size: contain;
}
#Sweden{
  background-image: url("../image/Sweden.png");
  background-size: contain;
}
#Malaysia{
  background-image: url("../image/Malaysia.png");
  background-size: contain;
}
#Spain{
  background-image: url("../image/Spain.png");
  background-size: contain;
}
#Portugal{
  background-image: url("../image/Portugal.png");
  background-size: contain;
}
#England{
  background-image: url("../image/England.png");
  background-size: contain;
}





