body{
  background-color: bisque;
}

.item{
  width:300px;
  height:200px;
}

.first{
  padding-top: 50px;
}

p{
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 30px;
}


/* 各国の設定 */
#Japan{
  background-image: url("../image/Japan.png");
  background-size: contain;
}

#America{
  background-image: url("../image/America.png");
  background-size: contain;
}










